body {
    background-color: #303030;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;
}

.wrapper {
    width: 100%;
    background: #444444;
}

.header {
    width: 100%;
    height: 60px;
    padding: 10px 0;
    background: linear-gradient(90deg, rgba(42, 0, 28, 1) 0%, rgba(101, 35, 71, 1) 55%, rgba(212, 76, 30, 1) 100%);
}

.logo {
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 6px;
    text-align: center;
}

.nav {
    width: 100%;
    padding: 10px 0;
    background-color: #333333;
    text-align: center;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
    position: sticky;
    top: 0;
    left: 0;
}

.content {
    width: 1000px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.socials {
    width: 100%;
    text-align: center;
    background-color: #333333;
}

.socialdivs {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.fb {
    width: 200px;
    height: 155px;
    float: left;
}

.fb:hover {
    background-color: #4668b3;
}

.yt {
    width: 200px;
    height: 155px;
    float: left;
}

.yt:hover {
    background-color: #d94348;
}

.tw {
    width: 200px;
    height: 155px;
    float: left;
}

.tw:hover {
    background-color: #3095d3;
}

.gplus {
    width: 200px;
    height: 155px;
    float: left;
}

.gplus:hover {
    background-color: #d95333;
}

.snapchat {
    width: 200px;
    height: 155px;
    float: left;
}

.snapchat:hover {
    background-color: #fffc00;
}

.footer {
    text-align: center;
    background-color: #262626;
    padding: 30px;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ol a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ol>li {
    float: left;
    width: 198px;
    height: 40px;
    border-right: 1px dashed rgba(42, 0, 28, 1);
}

ol>li:first-child {
    border-left: 1px dashed rgba(42, 0, 28, 1);
}

ol>li:hover {
    background-color: #444444;
}

ol>li:hover>a {
    color: #000000;
}

ol>li>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 35px;
    display: none;
}

ol>li:hover>ul {
    display: block;
}

ol>li>ul>li {
    background-color: #333333;
    position: relative;
    z-index: 100;
    border-top: 1px dashed rgba(42, 0, 28, 1);
}

ol>li>ul>li:hover {
    background-color: #444444;
}

ol>li>ul>li:hover>a {
    color: #000000;
}